[submodule "thirdparty/pybind11/pybind11"]
	path = thirdparty/pybind11/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "subprojects/lemon"]
	path = subprojects/lemon
	url = https://github.com/Coloquinte/lemon
