[submodule "thirdparty/xtl/xtl"]
	path = thirdparty/xtl/xtl
	url = https://github.com/xtensor-stack/xtl
[submodule "thirdparty/xtensor/xtensor"]
	path = thirdparty/xtensor/xtensor
	url = https://github.com/xtensor-stack/xtensor
